<!DOCTYPE html>
<html>
<head>
<title>Parcel Registration Page</title>    
    
</head>
    <body>


    <h1>Success! Your parcel has been scheduled for pickup</h1>
    <h3>Please find the details as specified</h3>
    
    <p>Name of the Item: {{noi}}</p>
    <p>Date: {{dop}}</p>
    <p>Time: {{top}}</p>
    <p>Approximate Weight of the Parcel: {{wop}}</p>
</body>

</html>
    
    